<div id = "new_craft_step_guide">
  <ul id = "step_infographic">
    <li>Step 1</li>
    <div class="step_line">&#8594</div>
    <li>Step 2</li>
    <div class="step_line">&#8594</div>
    <li class="step_selected">Step 3</li>
  </ul>
  <div id="step_explanation">
    <h1>Set Tambahan Harga</h1>
    <ol>
      <li>Ini adalah tahap terakhir dalam membuat customized product</li>
      <li>Pada tahap ini kamu dapat menambahkan harga pada hasil craft akhir berdasarkan material tertentu yang digunakan</li>
      <li>Kosongkan harga jika harga penggunaan material tidak menambah harga jual</li>
    </ol>
  </div>
</div>
