
<div id = "page_title">
  <h1>All Crafts</h1>
</div>
<div id="sitemap_category">
ini sitemap
</div>
<div id="category_content_container">
  <div class = "craft_category_container">
    <div class = "craft_category_title">
      Ini adalah title
    </div>
    <div class = "pic_craft_category_container">
    </div>
    <div class = "subcategory_container">
      List:
      <br>
      <ul>
        <li>Sub Category1</li>
        <li>Sub Category2</li>
        <li>Sub Category3</li>
      </ul>
    </div>
  </div><!--close craft category container-->
  <div class = "craft_category_container">
    <div class = "craft_category_title">
      Ini adalah title
    </div>
    <div class = "pic_craft_category_container">
    </div>
    <div class = "subcategory_container">
      List:
      <br>
      <ul>
        <li>Sub Category1</li>
        <li>Sub Category2</li>
        <li>Sub Category3</li>
      </ul>
    </div>
  </div><!--close craft category container-->
  <div class = "craft_category_container">
    <div class = "craft_category_title">
      Ini adalah title
    </div>
    <div class = "pic_craft_category_container">
    </div>
    <div class = "subcategory_container">
      List:
      <br>
      <ul>
        <li>Sub Category1</li>
        <li>Sub Category2</li>
        <li>Sub Category3</li>
      </ul>
    </div>
  </div><!--close craft category container-->
 </div><!--close craft left side--> 
  <div id = "craft_product_recomendation_side">
    <div id = "craft_recomendation_container">
      <div id="craft_recomendation_product_pic">

      </div>
      <div id = "craft_recomendation_product_details">
      </div>
    </div>
  </div>

