<h1 style="width: 800px;margin:50px auto 0 auto;font-size:1em;text-align:center;background-color:#F3F781">Halo, Shinfithecraft.com sedang dalam tahap mencari partner crafter yang mau bekerja sama dengan shinfithecraft.com. Apabila berminat dapat menghubungi kami di (+62)815-8433-7766 atau email di shinfithecraft@gmail.com, Looking forward work with you~! </h1>


  

