<div id ="helpermenu">
	<div id="left">
		<h3>Butuh Bantuan? Jangan segan untuk menghubungi kami di:</h3>
	</div>
	<div id="helpermenu_break">
	</div>
	<div id="center" class="helpermenu_pointer">
		<h3>Whatsapp/Call/SMS:</h3>
		<h4>(+62)815-8433-7766</h4>
	</div>
	<div id="center" class="helpermenu_pointer">
		<h3>LINE id:</h3>
		<h3>shinfianiteja</h3>
	</div>
	<div id="center" class="helpermenu_pointer">
		<h3>e-Mail</h3>
		<h3 style= "font-size:0.8em">shinfithecraft@gmail.com</h3>
	</div>
	<div id="right" class="helpermenu_pointer">
		<h3>Cek Pertanyaan Kamu</h3>
		<h3><%= link_to 'FAQ', compinfo_path('FAQ')%></h3>
	</div>
</div>