<div id ="helpermenu">
	<div id="left">
		<h3>Butuh Bantuan?</h3>
		<h3>Hubungi Kami 24 Jam<br></h3>
	</div>
	<div id="center">
		<h3>shinfithecraft@gmail.com</h3>
	</div>
	<div id="right">
		<h3>0815-8433-7766</h3>
	</div>
</div>