<h1>Inventories List</h1>
<hr/>

<hr/>
<div id = "InventoryList">
	<% @inventories.each do |t| %>
		<!--this link_to already equal to onclick in jquery-->
		<h2 class= "link"><%= link_to t.pName, inventory_path(t), :remote => true %></h2><!--the link_to second argument automatically take the inventories id--> 
	<% end %>
</div>
<div id ="InventoryDetail">ass1</div><!-- where the JS get called-->
<p><%= link_to "Create New Inventory", new_inventory_path %></p>
