<div id = "Main_Container">
	<div id = "universal_form">
	<h1 style = "text-align:center;">Insert Image for Product <%=@inventory.name%></h1>
	<h2 style = "text-align:center;">Product ID : <%= @inventory.id %></h2>
	<%= render 'form' %>

	<button><%= link_to 'Finished', inventory_path(@inventory.id)%></button>
	</div>
</div>
<script id="template-upload" type="text/x-tmpl">
<div class="upload">
  {%=o.name%}
  <div class="progress progress-striped"><div class="progress-bar" style="width: 0%"></div></div>
</div>
</script>