/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require fancybox
 *= require jquery.fileupload-ui
 *= require owl.carousel
 *= require owl.theme
 *= require_tree .
 */
#Main_Container{
	margin: auto;
	/*border:solid 1px black;*/
	width: 989px;
	font-family: 'Amaranth', sans-serif;
	min-height: 1000px;
}

footer{
	display: inline-block;
	width: 100%;
	font-family: 'Amaranth', sans-serif;
	border:solid black 1px;
	height:230px;
	margin:auto;
}
.pagination{
	margin:10px;
	width: 100%;
	float:left;
	display: block;
}
#universal_form{
	margin:auto;
	margin-top:10px;
	width: 600px;
	height:600px;
	border:solid 1px black;
}
#universal_form label{
	display:inline-block;
	width:200px;
	text-align: right;
}
.unversal_form_title{
	text-align:center;
}

#logo{
	margin:auto;
	height:158px;
	width:600px;
	padding: 0 0 0 50px;
}
#admin_menu{
	width: 100px;
	border: black solid 1px;
	text-align: center;
}
#head_menu{
	width: 100%;
	text-align: center;
	border: black solid 1px;
	margin: 40px auto 0 auto;
}
#head_menu ul li{
	display: inline
}
.report_table{
	margin : auto;
	width: 980px;
}
.report_table .title{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}
.report_table .content{
	text-align: center;
}
.report_table tr:nth-child(even){
 	background-color: #FFF1F8; 
}
.page_title
{
	width: 200px;
	margin: 30px auto 30px auto;
}
#flash_notice
{
	margin:auto;
	width: 250px;
	text-align:center;
	background-color: #00ff00;
	color:#ffffff;
}
#login
{
	/*border:black solid 1px;*/
	width: 400px;
	height:25px;
	margin:auto;
	margin-top:10px;
	min-height: 500px;
}
#login ul li
{
	display:inline;
	font-size: 10px;
}
#signup
{
	font-size: 10px;
}
#logout
{
	margin-left:10px;
}
#user_name
{
	color:#ff2994;
}

.dropdown-menu
{
	display:none;
}
ul li{
	position: relative;
}
ul li ul.dropdown-menu a:hover{
	display: block;
	border:solid black 1px;
}
ul li:hover ul.dropdown-menu{
	display:block;
	position: absolute;
	background-color: #ebebeb;
	min-width:80px;
	z-index: 999;
	left:0;
	text-align: left;
	padding-left: 5px;
}

footer #f_left{
	width:25%;
	height:100%;
	border:solid black 1px;
	float:left;
}
#site_map{
	width:70%;
	min-height: 70%;
	border:solid red 1px;
	margin: 10% auto 0 auto;

}
footer #f_middle{
	width:49.3%;
	height:100%;	
	border:solid black 1px;
	float:left;
}
#brands ul li{
	margin: 20px 25px 15px 30px;
	width: 100px;
	height: 70px;
	border:solid black 2px;
	float:left;
}
footer #f_right{
	width:25%;
	height:100%;
	border:solid black 1px;
	float:left;
}
#socmed{
	width:70%;
	min-height: 70%;
	border:solid red 1px;
	margin: 10% auto 0 auto;
}
#socmed ul li{
	display:inline;
}
#home_container
{
	width: 1000px;
	margin: auto;
	margin-top: 20px;
	min-height: 1000px;
}
.banner{
	width: 980px;
	height: 180px;
	border: black solid 1px;
	margin: 5px auto 30px auto;
}
/*for index page*/
#index_image_display_container{
	width:321px;
	height:400px;
	float:left;
	margin:5px;
	display:inline-block;
}
#index_image_display{
	width: 290px;
	height: 290px;
	overflow: hidden;
	margin:auto;
}
#index_product_summary{
	width:310px;
	height:67px;
	text-align:center;
	margin:auto;
}