/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require fancybox
 *= require jquery.fileupload-ui
 *= require owl.carousel
 *= require owl.theme
 *= require_tree .
 */
#Main_Container{
	margin: auto;
	/*border:solid 1px black;*/
	width: 989px;
	font-family: 'Amaranth', sans-serif;
	min-height: 1000px;
}

.pagination{
	margin:10px;
	width: 100%;
	float:left;
	display: block;
}
#universal_form{
	margin:auto;
	margin-top:10px;
	width: 600px;
	height:700px;
	border:solid 1px black;
}
#universal_form label{
	display:inline-block;
	width:200px;
	text-align: right;
}
.unversal_form_title{
	text-align:center;
}

#banner_index{
	width:1200px;
	margin:auto;
	height: 160px;
}
#logo{
	margin:auto;
	height:158px;
	width:600px;
	padding: 0 0 0 50px;
	float:left;
}
#promo{
	width:23%;
	height: 158px;
	float:left;
}
#cart{
	width:21.5%;
	height: 158px;
	float:left;
	text-align: left;
	margin-top: 30px;
}
#cart_image{
	width:50px;
	display: inline;
	float: left;
}
#admin_menu{
	width: 100px;
	border: black solid 1px;
	text-align: center;
}
#head_menu{
	width: 100%;
	text-align: center;
	border: black solid 2px;
	margin: 40px auto 0 auto;
}

#head_menu ul li{
	display: inline
}
.report_table{
	margin : auto;
	width: 980px;
}
.report_table .title{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}
.report_table .content{
	text-align: center;
}
.report_table tr:nth-child(even){
 	background-color: #FFF1F8; 
}
.page_title
{
	width: 200px;
	margin: 30px auto 30px auto;
}
#flash_notice
{
	margin:auto;
	width: 250px;
	text-align:center;
	background-color: #00ff00;
	color:#ffffff;
}
#login_container
{
	border:black solid 1px;
	width: 800px;
	height: 300px;
	padding:30px;
	margin:auto;
	margin-top:10px;
}
#login{
	width: 420px;
	float:left;
	border-right:solid black 2px;
	margin-right: 20px;
	height:90%;
}
#authentification li
{
	display:inline;
	font-size: 10px;
}
#signup
{
	font-size: 10px;
}
#logout
{
	margin-left:10px;
}
#user_name
{
	color:#ff2994;
}
/*for drop down function*/
#head_menu li{
	padding:2px;
}
.dropdown-menu
{
	display:none;
	position:absolute;
	float:left;
	margin-top: -0.1px;
	background-color: white;
	
}
.dropdown-double
{
	width: 300px;
	height: 120px;
}
.submenu_container{
	float: left;
	width: 45%;
	margin: 2px;
}
.dropdown-menu ul{
	table-layout: fixed;
	z-index: 3;
}
.dropdown-menu ul li{
	display: table-cell;
	width: auto;
	float: left;
	white-space:nowrap;
	width: 120px;
	font-size: 0.9em;
}
.dropdown-menu ul li a {
	text-align: left;
	display: block;
}
.dropdown-menu ul li:hover{
	background-color: #ffd2ff;
}
ul li{
	position: relative;
}
ul li .title_menu{
	font-style: bold;
	border-bottom: solid gray 1px;
	margin-bottom: 2px;
}
ul li:hover .dropdown-menu{
	display:block;
	position: absolute;
	min-width:80px;
	z-index: 100;
	left:0;
	text-align: left;
	padding-left: 5px;
	border:black solid 2px;
	-webkit-transition: all 0.3s ease-out;
              -moz-transition: all 0.3s ease-out;
              -o-transition: all 0.3s ease-out;
              transition: all 0.3s ease-out;
}


/*Bagian Footer*/
footer{
	display: inline-block;
	width: 100%;
	font-family: 'Amaranth', sans-serif;
	border:solid black 1px;
	height:150%;
	margin:auto;
	background-color: black;
	color:white;
	text-align: center;
}
#footer_container{
	margin:auto;
	height:350px;
	width:80%;
	/*border:solid blue 5px;*/
}
footer #f_left{
	width:25%;
	height:80%;
	/*border:solid white 1px;*/
	float:left;
}
#site_map{
	width:70%;
	/*border:solid red 1px;*/
	margin: 10% auto 0 auto;
}
#site_map_middle{
	width:80%;
	/*border:solid red 1px;*/
	margin: 10% 5% 5% 10%;
	display: block;
}
footer #f_middle{
	width:24%;
	height:80%;	
	/*border:solid white 1px;*/
	float:left;
}
footer #f_bottom{
	width:100%;
	height:20%;	
	/*border:solid white 1px;*/
}
footer #f_bottom ul li{
	display:inline;
	margin:50px;
	font-size: 8px;
}
footer #f_bottom ul{
	width: 80%;
	margin:auto;
	text-align: center;
}
#brands ul li{
	margin: 20px 25px 15px 30px;
	width: 100px;
	height: 70px;
	/*border:solid black 2px;*/
	float:left;
}
.subcontent{
	color: grey;
	font-size: 10px;
}
.subcontent a{
	text-decoration: none;
	color: grey;
	font-size: 10px;
}
footer #f_right{
	width:25%;
	height:80%;
	/*border:solid white 1px;*/
	float:left;
}
#socmed{
	width:70%;
	min-height: 70%;
	/*border:solid red 1px;*/
	margin: 10% auto 0 auto;
}
#socmed ul li{
	display:inline;
	margin-left:10px;
}
/* end of footer */
#home_container
{
	width: 1300px;
	margin: auto;
	margin-top: 20px;
	min-height: 1000px;
}
.banner{
	width: 980px;
	height: 180px;
	border: black solid 1px;
	margin: 5px auto 30px auto;
}
/*for index page*/

#product_helper_menu{
	width: 100%;
	height:50px;
	text-align: left;
	padding-left: 5px;
	margin-bottom: 10px;
}
#product_display_container{
	width: 1030px;
	height: 100%;
	float:left;
	padding:5px 0 0 10px;
}

#product_helper_container{
	width:	180px;
	height: 500px;
	float: left;
	padding: 5px;
	border-top: gray solid 1px;
	margin-left: 10px;
	margin-right: 10px
}
#category_helper{
	width:100%;
	height: 100px;
	overflow: scroll;
	border-bottom: gray solid 1px;
}
#color_helper{
	width:100%;
	height: 300px;
	overflow: scroll;
	border-bottom: gray solid 1px;
}
.warna_product{
	width:35px;
	height: 35px;
	border:solid gray 2px;
	float: left;
	margin:5px;
}
.warna_product:hover{
	border:solid black 2px;
}
#index_image_display_container{
	width:240px;
	height:370px;
	float:left;
	margin:5px;
	display:inline-block;
}

#index_image_display{
	width: 230px;
	height: 250px;
	overflow: hidden;
	margin:auto;
	
}
#index_image_display:hover{
	box-shadow: 5px 5px 5px #888888;
	display:inline-block;
}
#index_product_summary{
	width:230px;
	height:37px;
	text-align:center;
	margin:auto;
}
#info_bottom{
	width:100%;
	height: 100%;
	background-color: #f4f4f4;
	padding:5px;
	margin-top: 25px;

}
.info p{
	font-size: 1em;
	font-family: 'Amaranth', sans-serif;
	text-align: justify;
}

.main_poster{
	width:1200px;
	height: 500px;
	border:red solid 1px;
	margin:auto;
	display: block;
}
#second_poster{
	width:1200px;
	height: 500px;
	border:black solid 1px;
	margin:auto;
}
.fabric_poster{
	width:500px;
	height: 250px;
	border:black solid 1px;
	float: left;
	margin:10px;
}
.openpo_poster{
	width:500px;
	height: 250px;
	border:black solid 1px;
	float: left;
	margin:10px;
}