// Place all the styles related to the cart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#cart_table{
	border: black solid 1px;
	width:100%;
	text-align:center;
}
#cart_table tr:nth-child(even){
	background-color: #e5eeff; 
}
#cart_table td{
	border: black solid 1px;
}
.remove_item{
	width:5%;
}
#cart_prod_image{
	float:left;
	margin:5px;
	z-index:999;
}
.cart_prod_detail{
	text-align:left;
}
#cart_quantity input{
	width:50px;
}
