// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#category_left{
	width:45%;
	border:solid black 1px;
	float:left;
	margin-top:50px;
	padding:10px;
}
#category_right{
	width:50%;
	border:solid black 1px;
	margin-top:50px;
	padding:10px;
	display:inline-block;
	
}
#display_category{
	width:70%;
	padding:10px;
	margin:auto;
}