// Place all the styles related to the Crafts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.craft_pic{
	width:250px;
	height:250px;
	border:solid black 1px;
	border-radius: 0.7em 0.7em 0.7em 0.7em;
	overflow:hidden;
}
.craft_pic_container{
	width:510px;
	height:510px;
	border:solid #F2F2F2 4px;
	border-radius: 0.9em;
	background-color:white;
	overflow:hidden;
	padding:10px;
	float:left;
}
#craft_pic_show{
	
	width:100%;
}
#craft_dp{
	width:510px;
	height:430px;
	
}
#thumb_craft_pic_container{
	width:100%;
	height:80px;
	background-color: #F2F2F2;
	border: solid #F2F2F2 3px;
}
.thumb_craft_pic{
	width:70px;
	height:70px;
	border:solid black 1px;
	border-radius: 0.9em;
	overflow:hidden;
	margin: 2px 0px 0px 5px;
	float:left;
	cursor:pointer;
}
#craft_container{
	background-color:white;
	width: 100%;
	min-height:1000px;
	margin: 50px auto 50px auto;
	padding: 20px 15px 20px 15px;
}
#craft_container_top{
	
	width:100%;
	height:540px;
}
#craft_container_middle{
	
	width:99%;
	min-height:500px;
	overflow:auto;
	background-color:#F7F5F2;
	margin-top:10px;
	padding:10px;
}
#craft_product_description{
	padding:10px;
	width: 65%;
	min-height:450px;
	border:solid #E0ECF8 4px;
	background-color:white;
	float:left;
	border-radius: 0.9em;
}
#craft_seller_detail{
	width:25%;
	min-height:450px;
	padding:10px;
	float:right;
	border:solid black 4px;
	background-color:white;
	border-radius:0.9em;
}
.craft_review{
	width: 400px;
	height:310px;
	padding:10px;
	border-top:solid #E3F6CE 4px;
	border-left:solid #E3F6CE 4px;
	border-right:solid #E3F6CE 4px;
	float:right;
	background-color:#E3F6CE;
}
.craft_add_to_cart{
	width:400px;
	height:180px;
	padding:10px;
	border:solid #E3F6CE 4px;
	float:right;
}

#craft_product_recomendation_side{
	width: 150px;
	height:500px;
	background-color: white;
	border:solid #DBDAD9 1px;
	border-radius: 0.7em 0.7em 0.7em 0.7em;
	float:left;
}

#craft_recomendation_container{
	width: 150px;
	height: 150px;
	border:solid black 1px;
	margin-top:10px;
}
#craft_recomendation_product_pic{
	width:120px;
	height:120px;
	border: solid blue 1px;
	margin:auto;
}
#craft_recomendation_product_details{
	width:120px;
	height:25px;
	
	margin:auto;
}
#new_craft_form{
	background-color: white;
	width:700px;
	min-height:1200px;
	margin:auto;
	padding:10px;

}
#remove{
	width:10px;
	height:10px;
	border:solid black 1px;
	font-weight: bold;
	color:red;
	float:right;
	display:inline-block;
	cursor:pointer;
}
#more{
	float:left;
	cursor:pointer;
	margin:10px 10px 10px;
	display:inline-block;
	width:100%;
	height:20px;
	border:solid black 1px;
}

#craft_pic_container{
  width: 95%;
  margin:auto;
  height:80%;
  border:solid black 1px;
  border-radius :0.5em 0.5em 0.5em 0.5em;
}
.slider_button_left_craft{
	cursor: pointer;
	float:left;
	opacity:0.2;
	width:35px;
}
.slider_button_right_craft{
	cursor: pointer;
	top:450px;
	float:right;
	opacity:0.2;
	width:35px;
}
.slider_button_left_craft :hover , .slider_button_right_craft :hover{
	opacity:0.5;
}
#slider_button{
	width:510px;
	height:80px;
	position:absolute;
	top:450px;

}
#brand_pic_craft{
	width:150px;
	margin:auto;
}
#min-range, #max-range {
    width: 50px;
    height:30px;
    text-align: center;
    font-size:0.6em;
    color:green;
    float:left;
}
.step_notification{
	color: #848484;
}
#select_category_container{
	float:left;
	width:150px;
}
#select_edit_category_container{
	float:left;
	width:100%;
	
	overflow:auto;
	min-height:100px;
	padding:10px;
}
#select_edit_category_container ul{
	column: 5;
	-webkit-columns: 5;
	-moz-columns: 5;
}
#select_edit_category_container ul li{
	margin-right: 10px;
}
#display_material_container{
	float:right;
	border: solid black 2px;
	margin:1px;
	width: 520px;
	min-height:500px;
}
#edit_display_material_container{
	width:100%;
	
	padding:10px;
	min-height:300px;
	float:left;
}
.material_pic_thumb{
	float:left;
	margin:5px;
	border:solid black 3px;
	height:150px;
	width:150px;
	display:inline-block;
	cursor:pointer;
}
.material_pic_thumb input[type=radio]{
	display : none;
}
.material_checked{
	border:solid #A9F5A9 3px;
	border-radius:0.8em;
	overflow:hidden;
	opacity:0.5;	
}

.material_selected_first{
	float:left;
	margin:5px;
	border:solid #A9F5A9 3px;
	height:150px;
	width:150px;
	display:inline-block;
	cursor:pointer;
	border-radius:0.8em;
	overflow:hidden;
	opacity:0.5;
}
.material_unchecked{
	border:solid black 3px;
	display:inline-block;
	cursor:pointer;	
	opacity:1;
	border-radius:0em;
}
.material_selected_first input[type=checkbox]{
	display:none;
}
.material_pic_thumb input[type=checkbox]{
	display:none;
}
#material_category{
	width:100%;
	float:left;
	font-size:2em;
	text-align:center;
}

#new_user_craft{
	width:90%;
	height:300px;
	padding:20px;
	margin-top:10%;
}
#new_user_craft li{
	min-width: 300px;
	max-width:300px;
	overflow:hidden;
	list-style-type:none;
}
#new_user_craft label{
	font-size:2em;
	width:100px;
	padding:2px;
	line-height:50px;
}
#new_user_craft input[type=text]{
	font-size:2em;
	max-width:300px;
	height:50px;
	background-color:#F2F2F2;
	border-radius:0.3em;
	padding-left: 10px;
	padding-right:10px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
#new_user_craft input[type=number]{
	font-size:2em;
	max-width:230px;
	height:50px;
	background-color:#F2F2F2;
	border-radius:0.3em;
	padding-left: 10px;
	padding-right:10px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
#new_user_craft select{
	border:solid black 2px;
	border-radius:0.3em;
	float:left;
	height:50px;
	font-size:1.5em;
}
.u_c_label_left{
	width:250px;
	height:50px;
	float:left;
}
.u_c_price{
	font-size:2em;
}
.u_c_input{
	width:100%;
	height:50px;
	display:inline-block;
	margin-top:8px;
	border-bottom:dashed #E6E6E6 1px;
	padding:5px 0 5px 0;
}
#new_craft_step_guide{
	width:103%;
	min-height:180px;
	margin:20px 0 10px -10px;
	overflow:auto;
}

#step_explanation ol li{
	width:95%;
	margin:auto;
	text-align:left;
	font-size:17px;
}
#step_explanation{
	width:97%;
	min-height:80px;
	background-color:#F7F8E0;
	border-top:solid #F2F5A9 1px;
	border-bottom:solid #F2F5A9 1px;
	padding:10px;
	overflow:auto;
	color:#0B2161;
}
#step_infographic{
	width:350px;
	height:50px;
	margin:10px auto 10px auto;
}
#step_infographic li{
	width:100px;
	height:150px;
	font-size:1.5em;
	border:solid black 2px;
	list-style-type:none;
	display:inline;
	padding:20px;
	border-radius:100%;
}
.step_line{
	display:inline;
	font-size:1em;
	margin-top:15px;
}
.step_selected{
	background-color:#0B2161;
	color:white;
}
.step_submit{
	width:300px;
	height:50px;
	cursor:pointer;
	background-color:white;
	margin:30px 0 30px 0;
	float:right;
	border:solid black 1px;
	font-size:2em;
	border-radius:0.3em;
}
.step_edit_submit{
	width:100%;
	height:50px;
	cursor:pointer;
	background-color:white;
	margin:30px 0 30px 0;
	float:right;
	border:solid black 1px;
	font-size:2em;
	border-radius:0.3em;
}
.step_submit:hover{
	cursor:pointer;
	background-color:black;
	color:white;
}
.step_edit_submit:hover{
	cursor:pointer;
	background-color:black;
	color:white;
}


//section for karya.html
#karya_main_pic_container{
	width:550px;
	height:500px;
	border:solid red 1px;
	float:left;
}
#karya_main_pic{
	min-width:250px;
	min-height:400px;
	max-width:550px;
	max-height:400px;
	border:solid blue 1px;
	margin:auto;
}
karya_main_pic_thumb_container{
	width:100%;
	overflow:auto;
}
#karya_main_pic_thumb{
	width:80px;
	height:60px;
	border:solid black 1px;
	margin:10px 5px 0 5px;
	float:left;
}
#karya_transaction_box{
	width:400px;
	height:500px;
	border:solid black 1px;
	float:right;
}
#karya_box2{
	min-width:400px;
	max-width:100%;
	min-height:400px;
	max-height:500px;
	border: solid black 1px;
	float:left;
	padding:20px;
}
#karya_box2_menu{
	width:10%;
	height:50px;
	border:solid blue 1px;
	display:inline-block;
	margin:10px 10px 10px 0;	
}
#karya_selection_container{
	width:970px;
	min-height:470px;
	border:solid black 1px;
	margin:20px 0 20px 0;
	float:left;
}
#karya_material_selected_box table{
	text-align:center;
	margin:auto;
	border:solid red 1px;
}
.karya_material_selected_pic{
	width:150px;
	height:150px;
	border:solid black 1px;
	display:inline-block;
	cursor:pointer;
}
#karya_order_detail{
	width:970px;
	min-height:470px;
	border:solid black 1px;
	margin:20px 0 20px 0;
	float:left;
}
#submit_custom_craft_container{
	height:150px;
	width:300px;
}
#submit_custom_craft_container a{
	text-align:center;
	line-height:50px;
	float:left;
	display:inline-block;
}

#edit_custom_craft_container{
	width:70%;
	float:left;
	overflow:auto;
}
#edit_custom_craft_container label{
	font-size:1.5em;
	margin-top:5px;
	color:#BDBDBD;
}
#edit_custom_craft_container label .title_box{
	width:50%;
	font-size:1.5em;

}

#edit_custom_craft_container input[type=text]{
	background-color:#F7F5F2;
	border:solid #F7F5F2 1px;
	border-bottom:solid black 2px;
	padding-left: 10px;
	padding-right:10px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
#edit_custom_craft_container input[type=text]:focus{
	border: 3px solid #555;
}
#edit_custom_craft_container .field{
	margin-bottom:20px;
}
#edit_custom_craft_container .textarea_box{
	background-color: #f8f8f8;
}
#edit_custom_craft_container input[type=number]{
	background-color:#F7F5F2;
	border:none;
	border-bottom:solid black 2px;
	padding-left: 10px;
	padding-right:10px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
#edit_custom_craft_container input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  }

#edit_custom_craft_container select{
	border:solid black 2px;
	border-radius:0.3em;
	float:left;
	height:30px;
	width:350px;
	font-size:1.5em;
}
#edit_custom_craft_container a{
	color:white;
}
#edit_custom_craft_container a:hover{
	color:black;
}
.edit_custom_material_box{
	min-height:50px;
	width:500px;
}
.edit_custom_link_01{
	padding:5px;
	border:solid black 1px;
	width:10px;
	height:10px;
	width:60px;
	background-color:black;
	color:white;
}
.edit_custom_link_01:hover{
	background-color:white;
	color:black;
}
.edit_custom_material_box img{
	border:solid black 1px;
	height:50px;
	width:50px;
}
.edit_custom_material_box h3{
	color:#BDBDBD;
}

.craft_product_image_prod_img{
	display:none;
}
.craft_upload_image_thumb{
	border:solid black 2px;
	border-radius:0.8em;
	
}
.img_preview_container{
	height:200px;
	width:150px;
	float:left;
	margin-right:10px;
}
#remove_craft_thumb{
	cursor:pointer;
	width:85%;
	margin:auto;
	text-align:center;
	height:15px;
	font-size:1.5em;
	border:solid black 2px;
	background-color:#D8D8D8;
	color:white;
	padding:5px;
}
#remove_craft_thumb:hover{
	background-color:#A4A4A4;
}
#new_craft_container{
	
}
#upload_qty_left{
	font-size:1.5em;
	color:#BDBDBD;
	width:250px;
	height:80px;
	padding:10px;
	display:inline-block;
	margin: 0 10px 0 10px;
}
#order_detail_table{
	width:80%;
	margin:auto;
}
#karya_payment_summary{
	width:80%;
	margin:auto;
}
.material_selection_container{
	border:solid green 1px;
	min-height:500px;
	display:none;
}