// Place all the styles related to the Crafts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#sitemap_category{
	width: 200px;
	min-height:500px;
	border:solid white 1px;
	margin: 0 20px 0 20px;
	float:left;
	border-radius: 0.7em 0.7em 0.7em 0.7em;
	background-color:#EFEEED;
}
.craft_pic{
	width:250px;
	height:250px;
	border:solid black 1px;
	border-radius: 0.7em 0.7em 0.7em 0.7em;
	overflow:hidden;
}
.craft_category_container{
	width:350px;
	min-height:150px;
	max-height:200px;
	padding:10px;
	background-color:white;
	border-radius: 0.7em 0.7em 0.7em 0.7em;
	border: solid #DBDAD9 1px;
	float:left;
	margin: 0px 20px 20px 0px;
}
.craft_category_title{
	width:350px;
}
.pic_craft_category_container{
	width:200px;
	height:120px;
	border: solid black 1px;
	float:left;
}
.subcategory_container{
	width:135px;
	height:110px;
	border:solid blue 1px;
	float:left;
	display:inline-block;
	padding:5px;
}
.subcategory_container ul li{
	font-size: 0.8em;
}
#craft_product_recomendation_side{
	width: 150px;
	height:500px;
	background-color: white;
	border:solid #DBDAD9 1px;
	border-radius: 0.7em 0.7em 0.7em 0.7em;
	float:left;
}
#category_content_container{
	float:left;
	width: 800px;
	min-height:100px;
}
#craft_recomendation_container{
	width: 150px;
	height: 150px;
	border:solid black 1px;
	margin-top:10px;
}
#craft_recomendation_product_pic{
	width:120px;
	height:120px;
	border: solid blue 1px;
	margin:auto;
}
#craft_recomendation_product_details{
	width:120px;
	height:25px;
	border:solid red 1px;
	margin:auto;
}
#new_craft_form{
	background-color: white;
	width:700px;
	min-height:1200px;
	margin:auto;
	padding:10px;
}
#remove{
	width:10px;
	height:10px;
	border:solid black 1px;
	font-weight: bold;
	color:red;
	float:right;
	display:inline-block;
	cursor:pointer;
}
#more{
	float:left;
	cursor:pointer;
	margin:10px 10px 10px;
	display:inline-block;
	width:100%;
	height:20px;
	border:solid black 1px;
}

#craft_pic_container{
  width: 95%;
  margin:auto;
  height:80%;
  border:solid black 1px;
  border-radius :0.5em 0.5em 0.5em 0.5em;
}
