// Place all the styles related to the Customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.customer_form_container{
	width:350px;
	margin:auto;
	padding: 15px;
}

.two_column{
	width:550px;
	height: 50px;
}
.two_column .column1{
	float:left;
	margin-right:20px;
}
#customer_container{
	width: 100%;
	min-height: 900px;
	border:solid black 1px;
	padding:50px;
	margin:auto;
}
