// Place all the styles related to the inventories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a ,:link{
  text-decoration:none;
  color: #FA58D0;
}
a:hover{
  color: black;
}
ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
label{
  width: 4em;
  float: left;
  text-align :right;
  margin-right: 0.5em;
  display:block;
}
.label_Prod{
  //border:solid black 5px;
  width: 4em;
  text-align :right;
  margin-right: 0.5em;
  display:inline;

}
.answer_Prod{
  //border:solid black 5px;
  width: 15em;
  text-align :left;
  margin-right: 0.5em;
  
}
.textField{
  width: 75px;
  margin-left: 20px;
}
#InventoryList{
  //background-color:red;
  margin-left : 20px;
  padding : 10px;
  //border : black solid 1px;
  overflow:scroll;
  height:670px;

}
#InventoryContainer{
  //border:solid black 5px;
  margin:auto;
  width:100%;
  padding-left:50px 10px ;
}
#InventoryDetail{
  //background-color:blue;
  margin-left : 30px;
}
#InventoryLeft{
  border:solid black 5px;
  width:350px;
  height: 100%;
  margin-top:225px;
  float:left;
  text-align:left;
}
#InventoryRight{
  //border-right:solid black 5px;
  width:650px;
  margin-left:40%;
}
//for the product image in inventory AJAX file
#imgContainer{
  border : black solid 5px;
  width : 250px;
  height: 250px;
  padding: auto;
  margin-bottom: 10px;
}

//nth-child is css default parameter to target the child of tr
#inventory_table tr:nth-child(even){
 background-color: #FFF1F8; 
}
table{
  border-collapse: collapse;
  width: 550px;
}
#inventory_table{
  //border : black solid 1px;
  background-color: #FFFFFF;
  width:550px;
  margin-top: 20px;
}
#inventory_table td{
  border : red solid 1px;
}
.prodCodeTitle{
  width : 200px;
  text-align:center;
}
.prodResult{
  width :400px;
  text-align:center;
}
#picture_frame{
  //border:black solid 3px;
  max-width: 320px;
  max-height: 310px;
  float:left;
}
#le_picture{
  //border:red solid 5px;
  max-width: 320px;
  min-height: 320px;
  
}
#prod_detail
{
  //border:blue solid 5px;
  margin-left:20px;
  width:300px;
  float:left;
  display:inline-block;

}
#le_small_picture_container{
  //border:red solid 5px;
  width: 330px;
  height:100px;
  margin: auto;
  padding: 5px 0 5px 5px;
}
#le_small_picture{
  border:black solid 2px;
  width: 33px;
  height: 33px;
  margin-right:5px;
  margin-top:5px;
  float: left;
}
#list_pic_container{
  //border:red solid 2px;
  width:80px;
  height:70px;
  display:inline-block;
}
#remove_picture
{
  position:relative;
  //border:black solid 2px;
  top:-55px;
  margin-left:-15px;
  background-color:black;
  color:white;
}

#product_container
{
  border:black solid 1px;
  width:70%;
  margin:auto;
  height: 800px;
  margin-top:20px;
  padding:10px 0 0 50px;
}
#comments_box
{
  border:black solid 3px;
  width:80%;
  height:30%;
  float:left;
  margin-top:80px;
  padding: 20px;
}
#inventory_cart
{
  margin-top: 30px;
  width: 100px;
  height: 60px;
  border:black solid 2px;
}
