// Place all the styles related to the inventories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a ,:link{
  text-decoration:none;
  color: #FA58D0;
}
a:hover{
  color: black;
}
ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
label{
  width: 4em;
  float: left;
  text-align :right;
  margin-right: 0.5em;
  display:block;
}
.label_Prod{
  //border:solid black 5px;
  width: 4em;
  text-align :right;
  margin-right: 0.5em;
  display:inline;

}
.answer_Prod{
  //border:solid black 5px;
  width: 15em;
  text-align :left;
  margin-right: 0.5em;
  
}
.textField{
  width: 75px;
  margin-left: 20px;
}
#InventoryList{
  //background-color:red;
  margin-left : 20px;
  padding : 10px;
  //border : black solid 1px;
  overflow:scroll;
  height:670px;

}
#InventoryContainer{
  //border:solid black 5px;
  margin:auto;
  width:100%;
  padding-left:50px 10px ;
}
#InventoryDetail{
  //background-color:blue;
  margin-left : 30px;
}
#InventoryLeft{
  border:solid black 5px;
  width:350px;
  height: 750px;
  float:left;
  text-align:left;
}
#InventoryRight{
  //border-right:solid black 5px;
  width:650px;
  margin-left:40%;
}
//for the product image in inventory AJAX file
#imgContainer{
  border : black solid 5px;
  width : 250px;
  height: 250px;
  padding: auto;
  margin-bottom: 10px;
}

//nth-child is css default parameter to target the child of tr
#inventory_table tr:nth-child(even){
 background-color: #FFF1F8; 
}
table{
  border-collapse: collapse;
  width: 550px;
}
#inventory_table{
  //border : black solid 1px;
  background-color: #FFFFFF;
  width:550px;
  margin-top: 20px;
}
#inventory_table td{
  border : red solid 1px;
}
.prodCodeTitle{
  width : 200px;
  text-align:center;
}
.prodResult{
  width :400px;
  text-align:center;
}