// Place all the styles related to the poster controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#list_pic_container_poster{
  //border:red solid 2px;
  width:400px;
  height:450px;
  overflow: scroll;

}