// Place all the styles related to the Product_images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.selected_dp{
border-radius :0.5em 0.5em 0.5em 0.5em;
	border:solid #A9F5D0 5px;
	width:70px;
	height:70px;
	display:inline-block;
}
.not_selected{
border-radius :0.5em 0.5em 0.5em 0.5em;
  border:solid black 1px;
  width:70px;
  height:70px;
  display:inline-block;
}

#list_pic_container{
  width:95%;
  margin:auto;
  height:200px;
  overflow: auto;
}
#list_pic
{
height:70px;
width:70px;
overflow:none;
 margin-right : 10px;
 display:inline;

}
#remove_picture
{
  position:relative;
  top:-55px;
  margin-left:-15px;
  background-color:black;
  color:white;
  z-index:999;
}
