// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#new_user{
	border:black solid 1px;
	width: 400px;
	height: 300px;
	margin:auto;
}
#submit_button
{
	text-align:center;
}
