<div id = "f_left">
	<div id = "site_map">
		Hello!
		<ul>
			<li>About Us</li>
			<li>FAQ</li>
			<li>Shipping Info</li>
			<li>Payment Method</li>
		</ul>
	</div>
</div>
<div id = "f_middle">
	<div id = "brands">
		<ul>
			<li>Brand 1</li>
			<li>Brand 2</li>
			<li>Brand 3</li>
			<li>Brand 4</li>
			<li>Brand 5</li>
			<li>Brand 6</li>
		</ul>
	</div>
</div>

<div id = "f_right">
	<div id = "socmed">
		Connect with us!
		<ul>
			<li> (o)twtr</li>
			<li> (o)insta</li>
			<li> (o)fb</li>
		</ul>
	</div>
</div>


